.divImagenes {
  border: 2px dashed #cccccc; // Borde gris claro
  padding: 20px;
  margin: 15px;
  text-align: center;
  background-color: #f0f0f0; // Fondo ligeramente gris
  border-radius: 8px; // Borde ligeramente redondeado para modernidad
  transition: border-color 0.3s ease;
  cursor: pointer; // Para que parezca clicable
  width: 100%;
  height: 100%;
  max-width: 500px; // Limitación del ancho para pantallas grandes
  max-height: 500px;
  margin: 0 auto; // Centra el componente horizontalmente
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:hover {
    border-color: #666666; // Color de borde más oscuro al hacer hover
  }

  @media (min-width: 768px) {
    padding: 30px;
  }
}



.preview-image {
  width: 100%;
  height: auto;
  max-width: 250px; // Limita el tamaño de la imagen a un máximo de 250px
  margin-top: 20px;
  border-radius: 8px; // Bordes redondeados para la imagen
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra sutil alrededor de la imagen
  object-fit: cover; // Mantiene la imagen bien ajustada dentro de su contenedor
}

input[type="file"] {
  display: none; // Oculta el input por defecto
}

.texto {
    font-size: 1.5rem; // Texto más grande
    font-weight: 600;
    color: #333333; // Texto oscuro para mejor legibilidad
    margin-bottom: 15px;
  
    @media (min-width: 768px) {
      font-size: 1.8rem; // Texto aún más grande en pantallas grandes
    }
  }