@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@font-face {
  font-family: 'lato';
  src: url(../../fonts/careny/Careny.ttf);
  font-weight: bold;
  font-style: bold;
}

.main-banner-home {
  background-image: url("/giulia-bertelli-2OU30mdtseY-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  height: 490px;
  position: relative;
  
  .container {
    z-index: 10;
  }
  .button {
    margin-top: 27px;
  }
  h2.h1 {
    color: white;
    margin: 15px;
    margin-left: 0;
    padding: 0;
    width: max-content;
    text-shadow: 1px 1px 0px rgb(111, 108, 108);
    font-family: 'lato';
    letter-spacing: 0;
    font-size: 4rem; /* Tamaño por defecto para pantallas pequeñas */
    line-height: 4.2rem;

    @media screen and (min-width: 768px) {
      font-size: 8.2rem; /* Ajustar el tamaño en pantallas medianas */
      line-height: 6.5rem;
    }

    @media screen and (min-width: 1024px) {
      font-size: 10rem; /* Tamaño más grande en pantallas grandes */
      line-height: 8rem;
    }
  }
}

#app {
  .header {
    margin-bottom: 0;
  }
  .button {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }
}
.slogan {
  font-family: "Comfortaa", sans-serif;
  width: 100%;
  margin: 15px;
  margin-left: 0;
  font-size: 2rem; 
  color: white;
  text-shadow: 1px 1px 0px rgb(111, 108, 108);

  @media screen and (min-width: 768px) {
    font-size: 3rem; 
  }

  @media screen and (min-width: 1024px) {
    font-size: 4rem; 
  }
}

.divContainer{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
}

.pageWidth{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}